<div class="clipping-desk">
	<div class="clipping-desk__news">
		<p class="clipping-desk__title">pequenas empresas grandes negócios</p>
		<p class="clipping-desk__subtitle">Ex-hacker brasileiro projeta miniaviões para encontrar carros roubados, vigiar fazendas e gerenciar o trânsito</p>
		<div class="clipping-desk__media">
	      <img src="assets/images/news-desk.jpg" alt="" class="clipping-desk__image"> 
	      <p class="clipping-desk__image-subtitle">VIGIA AÉREO: O modelo Vant, criado por Abreu Júnior, é versão compacta dos usados no Oriente Médio</p>
		   <div class="clipping-desk__image-border--one"></div>
		   <div class="clipping-desk__image-border--two"></div>
		   <div class="clipping-desk__image-border--three"></div>
	   </div>
	   <div class="clipping-desk__description">	
		   	<p class="clipping-desk__paragraph">O tempo não decide entre ensolarado, nublado e chuvoso na Ilha de Guaratiba — bairro do Rio de Janeiro a 45 km do centro. “É bom que a gente já vê se o aviãozinho se garante em qualquer clima”, diz o engenheiro Wanderley Abreu Júnior. É o primeiro teste oficial do seu Veículo Aéreo Não Tripulado (doravante, Vant). Quem olha não dá nada. O aeromodelo mede 1,60 m da ponta de uma asa à da outra e pesa 750 g, mas tem versões maiores — de 3,5 kg e de 20 kg. O design também não é o forte, mas isso não parece preocupar Abreu Júnior. Seu negócio não é fabricar as aeronaves, mas o sistema de câmeras e sensores infravermelhos que as transforma em robôs de vigilância e monitoramento de tráfego.</p>
		   <p class="clipping-desk__paragraph">Os Vants desenvolvidos pelo brasileiro são bem diferentes daqueles que ficaram conhecidos por custarem milhões de dólares e participarem de ações militares como a Guerra do Afeganistão e a captura de Bin Laden. Fazem parte de uma nova leva de veículos mais baratos, com menos recursos e projetados para o uso civil. Abreu Júnior não está só. A polícia da Austrália já recomendou ao governo.</p>
	   </div>	   
	</div>

	<div class="clipping-desk__controllers">
		<div class="clipping-desk__controls">
			<div class="clipping-desk__social">
				<a href="javascript:;"><img src="assets/images/like.png" alt="like do Facebook"></a>
				<a href="javascript:;"><img src="assets/images/tweet.png" alt="Tweet do Twitter"></a>				
			</div>
			<div class="clipping-desk__buttons">
				<div class="clipping-desk__buttons-next">
					<img src="assets/images/next.png" alt="Próximo">
					<p>Próximo</p>
				</div>
				<div class="clipping-desk__buttons-prev">
					<img src="assets/images/prev.png" alt="Anterior">
					<p>Anterior</p>
				</div>

			</div>
		</div>
	</div>
	<div class="clipping-desk__list">
		<ul>
			<li onclick="selectNews(this);">O GLOBO BLOGS - INOVAÇÃO</li>
			<li onclick="selectNews(this);" class="selected">PEQUENAS EMPRESAS GRANDES NEGÓCIOS</li>
			<li onclick="selectNews(this);">REVISTA GALILEU</li>
		</ul> 		
		<div class="clipping-desk__list-border">
	</div>
</div>