<div class="clipping">
	<div class="clipping__dropdown">
		<select>
		  <option value="globo">O Globo Blogs</option>
		  <option value="coppead">site COPPEAD</option>
		  <option value="muu">muu</option>
		  <option value="telecine" selected="true">Telecine Play</option>
		  <option value="eventos">sal grosso eventos</option>
		  <option value="universal">site Universal Channel</option>
		  <option value="multishow">Prêmio Multishow</option>
		  <option value="chute">chute certo</option>
		  <option value="trofeu">troféu promessas</option>
		</select>
	</div>
	<div class="clipping__media">
		<img src="assets/images/telecine.png" alt="Base" class="clipping__image">		
	</div>
	<div class="clipping__content">
		<p class="clipping__title">Telecine Play</p>
		<p class="clipping__description">Desenvolvido pela Storm Security, o Telecine Play (www.telecineplay.com.br) é uma plataforma que coloca à disposição, na web, os filmes da programação dos canais Telecine para o assinante assistir online, no momento em que desejar, em vários dispositivos (desktop, notebook, iPad, iPhone, iPad Touch e smartphones com o sistema Android).</p>		
	</div>

</div>