<div class="footer__title">
    <div class="footer__title__border-1"></div>
    <h2 class="footer__title__h2">
        Envie-nos uma solicitação, dúvida, sugestão ou crítica. 
        Nossa equipe responderá o contato o quanto antes
    </h2>
    <div class="footer__title__border-2"></div>
    <div class="footer__title__border-3"></div>
</div>

<div class="footer___lower__row">
    <div class="footer__form">   
        <form>
            <p class="footer__form__title">Mande sua mensagem</p>
            <input type="text" placeholder="seu nome" class="footer__form__input placeholder">
            <input type="email" placeholder="seu email" class="footer__form__input placeholder">
            <textarea class="footer__form__textarea placeholder" placeholder="sua mensagem"></textarea>
            <input type="submit" value="ENVIAR" class="footer__form__submit">
        </form>   
    </div>
    <div class="footer__address">
        <div class="footer__address__item">
            <p class="footer__address__item--title">Rio de Janeiro</p>
            <p class="footer__address__item--descript">
                Av. Lúcio Costa 3400 - Sl 304, Barra da Tijuca<br>
                Rio de Janeiro/RJ - CEP 22630-010<br>
                Office: +55 (21) 3734-0695
            </p>
        </div>

        <div class="footer__address__item">
                <p class="footer__address__item--title">New York</p>
                <p class="footer__address__item--descript">
                    136 Madison Avenue - New York, NY 10016<br>              
                    Office: +1 (646) 722 3838
                </p>
            </div>
    </div>
    
</div>