<div class="slider">
	<div class="slider__item">
		<div class="base__media">
		    <img src="assets/images/base_desk.jpg" class="slider__image-desk">
		    <img src="assets/images/base_mobile.jpg" class="slider__image-mobile">
		</div>
	</div>
	<div class="slider__item">
		<div class="base__media">
		    <img src="assets/images/slider2_desk.jpg" class="slider__image-desk">
		    <img src="assets/images/slider2_mobile.jpg" class="slider__image-mobile">
		</div>
	</div>
</div>