<div class="menu">
  <div class="menu__media">
  	<img src="assets/images/logo.png" alt="logo" class="menu__media-logo">
  	<a href="javascript:void(0);" class="menu__icon" onclick="openMenu()">
  		<img src="assets/images/menu.png" alt="menu" class="menu__media-image">
  	</a>
  </div>
  <div class="menu__dropdown">
    <ul>
      <li onclick="menuActive(this)"><a href="#">conheça a storm</a></li>
      <li class="active" onclick="menuActive(this)"><a href="#">portifólio</a></li>
      <li onclick="menuActive(this)"><a href="#">produtos</a></li>
      <li  class="menu__dropdown-box">
          <p>
          	<span class="menu__dropdown-line">Rio de Janeiro</span> 
          	<span class="menu__dropdown-line">Av. Lúcio Costa 3400 - Sl 304. Barra da Tijuca - Rio de Janeiro / RJ 
          	CEP 22630-010</span>
          	<span class="menu__dropdown-phone">+55 (21) 3734-0695</span>    	
        </p>
      </li>
      <li>
        <p class="menu__dropdown-single">Language
          <span class="menu__dropdown-lang">
          	<a >EN</a>
          	<a href="#">PT</a>
          </span>
        </p>
      </li>
    </ul>
  </div>
  <div class="menu__dropdown-desk">
    <ul>
      <li onclick="menuActiveDesk(this)" class="one" ><a href="#">conheça a storm</a></li>
      <li onclick="menuActiveDesk(this)" class="two" ><a href="#">portifólio</a></li>
      <li onclick="menuActiveDesk(this)" class="three"><a  href="#">produtos</a></li>
      <li onclick="menuActiveDesk(this)" class="four"><a  href="#">clippping</a></li>
      <li onclick="menuActiveDesk(this)" class="five"><a  href="#">faça contato</a></li>
    </ul>
  </div>
</div>