.clipping-desk{
	display: none;
	margin-top: 116px;
	@media(min-width: 769px){
		display: flex;
	}
	&__news{
		max-width: 455px;
	    height: 780px;
	    width: 100%;
	    color: #e4f2fd;
	    font-family: adobe-garamond-pro,serif;
	    position: relative;
	}
	&__title{
		font-size: 17px;
		text-transform: uppercase;
		margin-bottom: 17px;
	}
	&__subtitle{
		margin-bottom: 15px;
	}
	&__media{
		position: relative;
	}
	&__image{
		width: 100%;
	    height: auto;
	    border: 1px solid #253646;
	    &-subtitle{
	    	font-size: 10px;
	    	margin-top: 5px;
	    	margin-bottom: 24px;
	    }
	    &-border{
	    	&--one{
	    		position: absolute;
	    		background-color: #1979bc;
			    width: 396px;
			    min-height: 3px;
			    top: 0;
			    left: -2px;
	    	}
	    	&--two{
	    		position: absolute;
	    		background-color: #4b87c0;
			    width: 6px;
			    min-height: 30px;
			    top: -5px;
			    right: -1px;
	    	}
	    	&--three{
	    		position: absolute;
	    		background-color: #1979bc;
			    width: 3px;
			    min-height: 270px;
			    right: 0;
			    bottom: 13px;
	    	}
	    }
	}
	&__paragraph{
		font-size: 15px;
		&:first-child{
			margin-bottom: 20px;
		}
	}
	&__controllers{
		position: relative;
		margin: 0 22px;
	}
	&__controls{
		width: 86px;
	    height: auto;
	    background-color: #1b2732;
	    border: 1px solid #153b56;
	    border-radius: 3px;
	    margin-top: 103px;
	    padding: 0 10px 2px;
	}
	&__social{
    	text-align: center;
	    padding-top: 17px;
	    border-bottom: 1px solid #274c6c;
	    margin-bottom: 16px;
	    img{
	    	margin: 0 auto;
	    	margin-bottom: 10px;

	    }
    }
    &__buttons{
    	img{
    		margin: 0 auto;
    	}
    	&-next, &-prev{
	    	text-align: center;
	   		cursor: pointer;
	   		p{
	   			font-family: adobe-garamond-pro,serif;
			    font-size: 15px;
			    color: #e4f2fd;
			    margin: 0;
			    margin-top: 10px;
			    margin-bottom: 10px;
	   		}
	    }
    }
    &__list{
    	min-width: 335px;
	    max-height: 175px;
	    border-left: 5px solid #1979bc;
	    position: relative;
	    padding: 0 20px;
	    padding-top: 63px;
	    ul{
			padding: 0;
		    margin: 0;
		    list-style: none;
		    li{
		    	font-size: 13px;
			    color: #fefefe;
			    margin-bottom: 20px;
			    cursor: pointer;
			    font-family: adobe-garamond-pro,serif;
			    &.selected{
			    	color: #fff001;
			    }
		    }
	    }
	    &-border{
			position: absolute;
		    width: 174px;
		    min-height: 4px;
		    background-color: #1979bc;
		    top: 30px;
		    left: -20px;
	    }
    }
}