.clipping{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media(min-width: 769px){
		display: none;
	}
	&__dropdown{
		display: block;		
		margin-top: 60px;
		text-align: center;
		select{
			width: 299px;
			height: 34px;
			box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.18);
			border: solid 1px rgba(87, 88, 88, 0.41);
			border-radius: 4px;
			outline: none;
			text-decoration: none;
			cursor: pointer;
			font-size: 16px;
			background-color: #fff;
			text-transform: uppercase;
			background: url("../assets/images/arrow-select.png") 96%/7% no-repeat #fff;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
	}
	&__image{
		width: 320px;
		height: 284px;
		margin: 0 auto;
	}
	&__content{
		padding: 0 19px;
		margin-top: -20px;
	}
	&__title{
		text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.75);
		font-family: MyriadHebrew;
		font-size: 18px;
		font-weight: normal;
		color: #e4f2fd;
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	&__description{
		font-family: MyriadHebrew;
		font-size: 14px;
		text-align: left;
		color: #e8e7e7;
		line-height: 1.29;
		padding-right: 24px;
		padding-bottom: 20px;
	}

}