.footer{
    display: none;
    @media(min-width: 769px){
        display: block;
    }
    background-image: url("../assets/images/footer-back.png");
    background-color:  #213e5a;
    color: #fff;

    .grid{
        flex-direction: column;
    }

    &__title{
        text-align: center;
        font-family: Myriad Pro, Helvetica, Arial, sans-serif;
        font-size: 18px;   
        position: relative; 
        width: 299px;
        margin: 30px auto; 
        &__h2{
            padding: 10px;
        }   
        &__border-1{
            position: absolute;
            width: 82px;
            height: 2px;
            background-color: #1979bc;
        }
        &__border-2{
            position: absolute;
            width: 82px;
            height: 2px;
            background-color: #1979bc;
            right: 0px;
        }
        &__border-3{
            position: absolute;
            width: 4px;
            height: 82px;
            background-color: #1979bc;
            right: 6px;
            top: 30px;        
        }
    }

    &__form{
        background: url(../assets/images/shaddow.png) no-repeat right top;
        padding-right: 34px;
        form{
            position: relative;        
            margin: 30px auto;
            width: 400px;
            box-sizing: border-box;
            z-index: 0;
        }
        &__title{           
            font-family: Myriad Pro, Helvetica, Arial, sans-serif;
            font-size: 15px;            
            color: #ddeaf5;
            margin-bottom: 14px;
        }
        &__shadow_box{
            position: absolute;
            background-color: #213e5a33;
            height: 240px;
            width: 148px;
            right: -17px;
            top: 0px;
            box-shadow: 3px -2px 4px 0px #0000008a;
            z-index: -1;
        }
        &__input{
            width: 100%;            
            height: 33px;
            box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.32);
            border: solid 1px #e4f2fd;
            border-radius: 3px;
            margin-bottom: 12px; 
            padding: 5px;            
        }
        &__textarea{
            width: 100%;
            height: 160px;
            box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.32);
            border: solid 1px #e4f2fd;
            border-radius: 3px;
            margin-bottom: 12px; 
            padding: 5px;  
            resize: none; 
        }
        &__submit{
            width: 74px;
            height: 28px;
            box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.36);
            background-color: #1979bc;
            color: #FFF;
            text-transform: uppercase;
            font-family: Myriad Pro, Helvetica, Arial, sans-serif;
            border: none;
            border-radius: 3px;            
            float: right;
        }
    }

    &__address{
        &__item{
            font-family: Myriad Pro, Helvetica, Arial, sans-serif;
            text-align: left;
            margin-bottom: 30px;
            &--title{
                font-size: 18px;
                font-weight: bold;
            }
            &--descript{              
                font-size: 16px;
            }
        }
    }
}

.placeholder{
    &::placeholder{               
        font-family: Myriad Pro, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;               
        color: #171717;
    }
}

@media(min-width:768px){
    .footer{  
        padding-bottom: 130px; 
        .grid{
            flex-direction: column;
        }
        
        &___lower{
            &__row{
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                justify-content: initial;
                align-items: baseline;
            }
        }

        &__title{           
            font-size: 22px;            
            width: 621px;                  
            margin: 111px auto 68px auto;           
        }
    
        &__form{
            position: relative;        
            margin: 30px 50px 0 0;
            box-sizing: border-box;
            z-index: 0;
            &__title{           
                font-family: Myriad Pro, Helvetica, Arial, sans-serif;
                font-size: 15px;            
                color: #ddeaf5;
                margin-bottom: 14px;
            }
            &__shadow_box{
               
            }
            &__input{
                width: 100%;            
                height: 33px;
                box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.32);
                border: solid 1px #e4f2fd;
                border-radius: 3px;
                margin-bottom: 12px; 
                padding: 5px;            
            }
            &__textarea{
                width: 100%;
                height: 160px;
                box-shadow: 1px 1.7px 3px 0 rgba(0, 0, 0, 0.32);
                border: solid 1px #e4f2fd;
                border-radius: 3px;
                margin-bottom: 12px; 
                padding: 5px;  
                resize: none; 
            }
            &__submit{
                width: 74px;
                height: 28px;
                box-shadow: 0.5px 0.9px 3px 0 rgba(0, 0, 0, 0.36);
                background-color: #1979bc;
                color: #FFF;
                text-transform: uppercase;
                font-family: Myriad Pro, Helvetica, Arial, sans-serif;
                border: none;
                border-radius: 3px;            
                float: right;
            }
        }
    
        &__address{
            &__item{
                font-family: Myriad Pro, Helvetica, Arial, sans-serif;
                text-align: left;
                margin-bottom: 30px;
                &--title{
                    font-size: 18px;
                    font-weight: bold;
                }
                &--descript{              
                    font-size: 16px;
                }
            }
        }
    }
}