.menu{
	position: fixed;
  background-image: linear-gradient(to top, #0e0e0e, #313030);
  width: calc(100% - 19px);
  height: 42px;
	top: 10px;
	border-radius: 4px 4px 0 4px;
  z-index: 99;
  @media(min-width: 769px){
    border-radius: 4px;
  }
  @media(min-width: 1024px){
    width: 986px;
  }
  img{
    display: inherit;
  }
	&__media{
		padding: 10px 10px;
		display: inline-block;
    width: 100%;
		&-image{
      float: right;
      margin-right: 8px;
	  }
    &-logo{
      @media(min-width: 1024px){
        padding-left: 10px;
      }
    }
    img{
      &:last-child{
        @media(min-width: 769px){
            display: none;
          }
        }
    }
	}
  &__icon{
    text-decoration: none;
    outline: none;
  }
	&__dropdown{
    display: none;
    position: absolute;
    right: 0;
    top: 17px;
  	width:202px;
    background-image: linear-gradient(to top, #000000, #212020);
    border-radius: 0 0 4px;
  	box-shadow:0 0 40px -10px #000;
  	color:#505050;
  	margin-top:24px;
  	overflow:hidden;
    opacity: 0.97;
    li{
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      border-bottom: 1px solid #313030;
      padding: 10px 0 10px 10px;
      width: 90%;
      margin: 0 auto;
      font-size: 12px;
      a, p{
        text-decoration: none;
        color: #fefefe;
      }
      &:last-child{
        background-image: linear-gradient(to top, #000000, #212020);
        border-bottom: none;
        width: 100%;
        margin: 0;
      }
      &.active{
        a{
          &::after{
            content: "";
            width: 14px;
            height: 4px;
            box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.16);
            background-color: #fbf035;
            margin-left: 10px;
            position: absolute;
            margin-top: 3px;
          }
        }
      }
    }
    &-box{
      background-color: #171717;
      width: 100% !important;
      padding-left: 20px !important;
      span{
        font-size: 12px;
      }
    }
    &-single{
      padding-left: 9px;
    }
    &-line{
      display: block;        
      line-height: normal;
      &:nth-child(2){
        margin-bottom: 13px;
      }
    }
    &-phone{
      font-size: 16px !important;
    }
    &-lang{
      display: inline !important;
      position: absolute;
      right: 0;
      padding-right: 10px;
      a{
        font-size: 12px;
        letter-spacing: normal;
        text-align: left;
        color: #fefefe;
        padding-right: 6px;
        &:last-child{
          border-left: 1px solid #313030;
          padding-left: 6px;
          color: #929292;
        } 
      }
    }
    &-desk{
      display: none;
      @media(min-width: 769px){
        display: block;
      }
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 8px;
        margin-top: 14px;
      }
      li{
        border-right: 1px solid #313030;
        &:last-child{
          border-right: 0;
        }
        a{
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          padding: 0 10px;
          color: #cecece;
        }
        &.active{
          a{
            &::after{
              content: "";
              width: 105px;
              height: 4px;
              box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.16);
              background-color: #fbf035;
              position: absolute;
              top: 24px;              
            }
          }
        }
        &.one{              
          a{&::after{left: 25px;}}
        }
        &.two{              
          a{&::after{left: 150px;}}
        }
        &.three{              
          a{&::after{left: 252px;}}
        }
        &.four{              
          a{&::after{right: 117px;}}
        }
        &.five{              
          a{&::after{right: 11px;}}
        }
      }
    }
  }
}