.slider{
	&__media {
		display: block;
		overflow: hidden;
	}
	img{
		width: 100%;
	}
	&__image {
		&-desk{
			display: none !important;
			@media(min-width: 769px){
				display: block !important;
			}
		}
		&-mobile{
			display: block !important;
			@media(min-width: 769px){
				display: none !important;
			}
		}
	}
	.slick{
		&-arrow {
		    font-size: 0;
		    position: absolute;
		    top: 50%;
		    width: 18px;
		    height: 31px;
		    padding: 0;
		    border: none;
		    outline: 0;
		    color: transparent;
		    background: 0 0;
		    transform: translateY(-50%);
		    cursor: pointer;
		    background-repeat: no-repeat;
		    z-index: 1;
			@media(min-width: 769px){
			    width: 37px;
			    height: 63px;
			}
		}
		&-prev{
			left: 10px;
			background-image: url("../assets/images/prev-active-mobile.png");
			@media(min-width: 769px){
				background-image: url("../assets/images/prev-active.png");
			}
			@media(min-width: 1024px){
				left: 11%;
			}
			&.slick-disabled{
		    	background-image: url("../assets/images/prev-disabled-mobile.png") !important;
				@media(min-width: 769px){
					background-image: url("../assets/images/prev-disabled.png") !important;
				}
		    }
		}
		&-next{
			right: 10px;
			background-image: url("../assets/images/next-active-mobile.png");
			@media(min-width: 769px){
				background-image: url("../assets/images/next-active.png");
			}
			@media(min-width: 1024px){
				right: 11%;
			}
			&.slick-disabled{
		    	background-image: url("../assets/images/next-disabled-mobile.png") !important;
				@media(min-width: 769px){
					background-image: url("../assets/images/next-disabled.png") !important;
				}
		    }
		}
	}
}